<a href="https://colab.research.google.com/github/tim530712345/20210612_pandas/blob/main/pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([1,2,3,np.nan,6,8]) # np.nan 空值

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) # np.random.randn(6,4) 建立一個6*4的隨機數字矩陣
df

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [7]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.head() # 前五筆資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084

In [10]:
df.tail() # 後五筆資料

                   A         B         C         D
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [14]:
# df2.A                  df2.bool
# df2.abs                df2.boxplot
# df2.add                df2.C
# df2.add_prefix         df2.clip
# df2.add_suffix         df2.columns
# df2.align              df2.copy
# df2.all                df2.count
# df2.any                df2.combine
# df2.append             df2.D
# df2.apply              df2.describe
# df2.applymap           df2.diff
# df2.B                  df2.duplicated

In [15]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.to_numpy()

array([[ 0.98546302,  2.36453528,  0.98630217, -1.88304348],
       [ 0.87300421,  0.13780801,  0.99076397, -1.02339405],
       [ 1.99993135,  1.60298867, -0.99734532, -0.60674049],
       [-0.73628391, -1.43671642,  1.81113852,  0.76778559],
       [ 0.49158781, -2.10340341,  0.75947851, -1.48008404],
       [ 0.4517705 , -0.27588406,  3.16496638,  0.46015133]])

In [18]:
df2.to_numpy() # 轉換成n維陣列

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [19]:
df.describe() #

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.677579  0.048221  1.119217 -0.627554
std    0.890639  1.716404  1.364350  1.057380
min   -0.736284 -2.103403 -0.997345 -1.883043
25%    0.461725 -1.146508  0.816184 -1.365912
50%    0.682296 -0.069038  0.988533 -0.815067
75%    0.957348  1.236694  1.606045  0.193428
max    1.999931  2.364535  3.164966  0.767786

In [20]:
df.T # 列-->欄，欄-->列

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.985463    0.873004    1.999931   -0.736284    0.491588    0.451771
B    2.364535    0.137808    1.602989   -1.436716   -2.103403   -0.275884
C    0.986302    0.990764   -0.997345    1.811139    0.759479    3.164966
D   -1.883043   -1.023394   -0.606740    0.767786   -1.480084    0.460151

In [21]:
df.sort_index(axis=1,ascending=False) # axis=1 欄軸 ，ascending=False 降序排列

                   D         C         B         A
2020-01-01 -1.883043  0.986302  2.364535  0.985463
2020-01-02 -1.023394  0.990764  0.137808  0.873004
2020-01-03 -0.606740 -0.997345  1.602989  1.999931
2020-01-04  0.767786  1.811139 -1.436716 -0.736284
2020-01-05 -1.480084  0.759479 -2.103403  0.491588
2020-01-06  0.460151  3.164966 -0.275884  0.451771

In [23]:
df.sort_index(axis=0,ascending=True) # axis=0 列軸(索引) ascending=True 升序排列

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [24]:
df.sort_values(by='C') # 依據C來做升序排列

                   A         B         C         D
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-06  0.451771 -0.275884  3.164966  0.460151

## **篩選資料**

In [25]:
df['B'] # 篩選B欄位的值

2020-01-01    2.364535
2020-01-02    0.137808
2020-01-03    1.602989
2020-01-04   -1.436716
2020-01-05   -2.103403
2020-01-06   -0.275884
Freq: D, Name: B, dtype: float64

In [26]:
df['B'][:3]

2020-01-01    2.364535
2020-01-02    0.137808
2020-01-03    1.602989
Freq: D, Name: B, dtype: float64

In [27]:
df['20200101':'20200104']

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786

In [30]:
df.loc[dates[1]]

A    0.873004
B    0.137808
C    0.990764
D   -1.023394
Name: 2020-01-02 00:00:00, dtype: float64

In [32]:
df.loc['20200105':,['C','B']] # 查詢特定索引與特定欄位值

                   C         B
2020-01-05  0.759479 -2.103403
2020-01-06  3.164966 -0.275884

In [33]:
df.loc[dates[1]:,['B','C']]

                   B         C
2020-01-02  0.137808  0.990764
2020-01-03  1.602989 -0.997345
2020-01-04 -1.436716  1.811139
2020-01-05 -2.103403  0.759479
2020-01-06 -0.275884  3.164966

In [36]:
df.at[dates[2],'D']

-0.6067404916153408

In [37]:
df.iloc[3] # 第四筆資料

A   -0.736284
B   -1.436716
C    1.811139
D    0.767786
Name: 2020-01-04 00:00:00, dtype: float64

In [39]:
df.iloc[0:2,:] # 冒號: 顯示全部資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394

In [41]:
df.iloc[1,2] # 搜尋特定資料
df.iat[1,2]

0.9907639714754223

# **布林索引**

In [42]:
df[df['A']>0] # 篩選A欄位中值大於0的所有資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [43]:
df[df>0] # 顯示值大於0的所有資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302       NaN
2020-01-02  0.873004  0.137808  0.990764       NaN
2020-01-03  1.999931  1.602989       NaN       NaN
2020-01-04       NaN       NaN  1.811139  0.767786
2020-01-05  0.491588       NaN  0.759479       NaN
2020-01-06  0.451771       NaN  3.164966  0.460151

In [46]:
df2 = df.copy()
df2['E'] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2020-01-01  0.985463  2.364535  0.986302 -1.883043    one
2020-01-02  0.873004  0.137808  0.990764 -1.023394    one
2020-01-03  1.999931  1.602989 -0.997345 -0.606740    two
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  three
2020-01-05  0.491588 -2.103403  0.759479 -1.480084   four
2020-01-06  0.451771 -0.275884  3.164966  0.460151  three

In [47]:
df2[df2['E'].isin(['three','four'])] # isin() 是否存在

                   A         B         C         D      E
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  three
2020-01-05  0.491588 -2.103403  0.759479 -1.480084   four
2020-01-06  0.451771 -0.275884  3.164966  0.460151  three

In [50]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20200102',periods=6))
s1

2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int64

In [52]:
df['F'] = s1
df

                   A         B         C         D    F
2020-01-01  0.985463  2.364535  0.986302 -1.883043  NaN
2020-01-02  0.873004  0.137808  0.990764 -1.023394  1.0
2020-01-03  1.999931  1.602989 -0.997345 -0.606740  2.0
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  3.0
2020-01-05  0.491588 -2.103403  0.759479 -1.480084  4.0
2020-01-06  0.451771 -0.275884  3.164966  0.460151  5.0

In [53]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C         D    F    E
2020-01-01  0.985463  2.364535  0.986302 -1.883043  NaN  1.0
2020-01-02  0.873004  0.137808  0.990764 -1.023394  1.0  1.0
2020-01-03  1.999931  1.602989 -0.997345 -0.606740  2.0  NaN
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  3.0  NaN

In [54]:
df1.dropna(how="any") # 刪除有空值的資料列

                   A         B         C         D    F    E
2020-01-02  0.873004  0.137808  0.990764 -1.023394  1.0  1.0

In [55]:
df1.fillna(value=3) # 填一個值取代空值

                   A         B         C         D    F    E
2020-01-01  0.985463  2.364535  0.986302 -1.883043  3.0  1.0
2020-01-02  0.873004  0.137808  0.990764 -1.023394  1.0  1.0
2020-01-03  1.999931  1.602989 -0.997345 -0.606740  2.0  3.0
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  3.0  3.0

In [56]:
pd.isna(df1) # 判斷是否為空值

                A      B      C      D      F      E
2020-01-01  False  False  False  False   True  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

# **運算方法**

In [57]:
df.mean() # 針對欄位做平均值

A    0.677579
B    0.048221
C    1.119217
D   -0.627554
F    3.000000
dtype: float64

In [58]:
df.mean(1) # 水平加總平均

2020-01-01    0.613314
2020-01-02    0.395636
2020-01-03    0.799767
2020-01-04    0.681185
2020-01-05    0.333516
2020-01-06    1.760201
Freq: D, dtype: float64

In [60]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

In [61]:
df.sub(s, axis="index") # 減去法

                   A         B         C         D    F
2020-01-01       NaN       NaN       NaN       NaN  NaN
2020-01-02       NaN       NaN       NaN       NaN  NaN
2020-01-03  0.999931  0.602989 -1.997345 -1.606740  1.0
2020-01-04 -3.736284 -4.436716 -1.188861 -2.232214  0.0
2020-01-05 -4.508412 -7.103403 -4.240521 -6.480084 -1.0
2020-01-06       NaN       NaN       NaN       NaN  NaN

# Apply **引用方法**

In [62]:
df.apply(np.cumsum) # 累加

                   A         B         C         D     F
2020-01-01  0.985463  2.364535  0.986302 -1.883043   NaN
2020-01-02  1.858467  2.502343  1.977066 -2.906438   1.0
2020-01-03  3.858399  4.105332  0.979721 -3.513178   3.0
2020-01-04  3.122115  2.668616  2.790859 -2.745392   6.0
2020-01-05  3.613702  0.565212  3.550338 -4.225476  10.0
2020-01-06  4.065473  0.289328  6.715304 -3.765325  15.0

In [65]:
df

                   A         B         C         D    F
2020-01-01  0.985463  2.364535  0.986302 -1.883043  NaN
2020-01-02  0.873004  0.137808  0.990764 -1.023394  1.0
2020-01-03  1.999931  1.602989 -0.997345 -0.606740  2.0
2020-01-04 -0.736284 -1.436716  1.811139  0.767786  3.0
2020-01-05  0.491588 -2.103403  0.759479 -1.480084  4.0
2020-01-06  0.451771 -0.275884  3.164966  0.460151  5.0

In [64]:
df.apply(lambda x: x.max()- x.min())

A    2.736215
B    4.467939
C    4.162312
D    2.650829
F    4.000000
dtype: float64

# **Histogramming**

In [66]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    1
1    1
2    0
3    0
4    4
5    4
6    1
7    0
8    1
9    5
dtype: int64

In [67]:
s.value_counts()

1    4
0    3
4    2
5    1
dtype: int64

# String **Methods**

In [70]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# **Merge**

In [71]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.144758  0.102173 -0.489879 -0.424036
1 -0.481182  0.551074  1.429425  0.013852
2 -1.097099  1.159575  0.344006  0.488471
3 -0.017403  1.033277  1.510198 -0.499569
4  0.601143  0.461071 -1.564810 -0.097396
5 -0.764824  1.910518 -1.113264  0.874927
6  0.172202  1.744978  0.743353  0.543980
7 -0.579115  0.624893 -1.124441  0.365497
8 -0.645651 -0.689508 -1.400422  0.671921
9 -0.523283 -0.515636 -0.612047  0.604920

In [76]:
pieces = [df[:2],df[3:9]]
pd.concat(pieces) # 欄位數量需一致才能合併

          0         1         2         3
0  0.144758  0.102173 -0.489879 -0.424036
1 -0.481182  0.551074  1.429425  0.013852
3 -0.017403  1.033277  1.510198 -0.499569
4  0.601143  0.461071 -1.564810 -0.097396
5 -0.764824  1.910518 -1.113264  0.874927
6  0.172202  1.744978  0.743353  0.543980
7 -0.579115  0.624893 -1.124441  0.365497
8 -0.645651 -0.689508 -1.400422  0.671921

# **Join**

In [77]:
left = pd.DataFrame({"key": ["qoo", "qoo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["qoo", "qoo"], "lval": [3, 4]})

In [78]:
left

   key  lval
0  qoo     1
1  qoo     2

In [79]:
right

   key  lval
0  qoo     3
1  qoo     4

In [83]:
pd.merge(left, right, on='key')

   key  lval_x  lval_y
0  qoo       1       3
1  qoo       1       4
2  qoo       2       3
3  qoo       2       4

In [85]:
left = pd.DataFrame({"key": ["qoo", "voo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["qoo", "voo"], "lval": [3, 4]})

In [86]:
pd.merge(right, left, on='key')

   key  lval_x  lval_y
0  qoo       3       1
1  voo       4       2

# **Grouping**分群-->類似excel的樞紐分析

ex. 
可計算不同總類的物品(每樣商品的利潤加種)

In [87]:
df = pd.DataFrame(
   ....:     {
   ....:         "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
   ....:         "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
   ....:         "C": np.random.randn(8),
   ....:         "D": np.random.randn(8),
   ....:     }
   ....: )
df

     A      B         C         D
0  foo    one  0.947511  0.560047
1  bar    one  1.722238  0.138592
2  foo    two  0.291975 -0.392482
3  bar  three -0.717471  0.047645
4  foo    two -0.749677 -0.430752
5  bar    two  0.116400  2.288279
6  foo    one -0.219522 -1.698519
7  foo  three  1.168265 -1.148570

In [89]:
df.groupby(['A']).sum()

            C         D
A
bar  1.121167  2.474515
foo  1.438552 -3.110277

In [90]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.722238  0.138592
    three -0.717471  0.047645
    two    0.116400  2.288279
foo one    0.727990 -1.138472
    three  1.168265 -1.148570
    two   -0.457703 -0.823235

# Pivot **tables**

In [96]:
df = pd.DataFrame(
   .....:     {
   .....:         "A": ["one", "one", "two", "three"] * 3,
   .....:         "B": ["A", "B", "C"] * 4,
   .....:         "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
   .....:         "D": np.random.randn(12),
   .....:         "E": np.random.randn(12),
   .....:     }
   .....: )
df

        A  B    C         D         E
0     one  A  foo  1.040962  0.746796
1     one  B  foo  0.243027  1.092538
2     two  C  foo  0.753247  0.334787
3   three  A  bar  0.567431  0.741301
4     one  B  bar -0.448796 -0.207729
5     one  C  bar -0.871341 -1.123913
6     two  A  foo -1.094104  0.883272
7   three  B  foo -0.175043  1.110744
8     one  C  foo  0.836304  0.543384
9     one  A  bar  1.326493 -0.745439
10    two  B  bar -0.993788  0.170277
11  three  C  bar  2.145575 -0.729295

In [100]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

C             bar       foo
A     B
one   A  1.326493  1.040962
      B -0.448796  0.243027
      C -0.871341  0.836304
three A  0.567431       NaN
      B       NaN -0.175043
      C  2.145575       NaN
two   A       NaN -1.094104
      B -0.993788       NaN
      C       NaN  0.753247

# Time **series**

以時間為切割 算出1hr出進貨量等等......

In [95]:
rng = pd.date_range('1/1/2020', periods=100, freq='s') # 100筆資料，以秒為單位
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('1min').sum()

2020-01-01 00:00:00    14864
2020-01-01 00:01:00    11392
Freq: T, dtype: int64