<a href="https://colab.research.google.com/github/tim530712345/20210612_pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
ex_pandas = pd.Series([1,3,5,7,9],index=['a','b','c','d','e']) # 一維資料

In [15]:
ex_pandas.values

array([1, 3, 5, 7, 9])

In [16]:
ex_pandas.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
ex_pandas['c']

5

In [18]:
'b' in ex_pandas

True

In [19]:
data = {'name':['Tim','Kyle'],'year':[1994,1990],'month':[2,8]}
myframe = pd.DataFrame(data) #  二維資料
myframe

   name  year  month
0   Tim  1994      2
1  Kyle  1990      8

In [20]:
myframe = pd.DataFrame(data,columns=['name','month','year']) # columns 更改欄位順序
myframe

   name  month  year
0   Tim      2  1994
1  Kyle      8  1990

In [26]:
df = pd.read_csv('E1-2-2-1-input.csv') # 檔案讀取
df.head(5) # 前5筆資料

    sno     sna  ...  bemp  act
0  1001    大鵬華城  ...    22    1
1  1002   汐止火車站  ...    36    1
2  1003   汐止區公所  ...    33    1
3  1004  國泰綜合醫院  ...    22    1
4  1005    裕隆公園  ...    17    1

[5 rows x 14 columns]

In [27]:
df.tail(5) # 後五筆資料

      sno      sna  ...  bemp  act
490  1502  縣民漢生東路口  ...    48    1
491  1503     時光公園  ...    27    1
492  1504     積穗國中  ...    15    1
493  1505     員和公園  ...    30    1
494  1506     環河公園  ...    12    1

[5 rows x 14 columns]