<a href="https://colab.research.google.com/github/tim530712345/20210612_pandas/blob/main/pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([1,2,3,np.nan,6,8]) # np.nan 空值

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) # np.random.randn(6,4) 建立一個6*4的隨機數字矩陣
df

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [7]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.head() # 前五筆資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084

In [10]:
df.tail() # 後五筆資料

                   A         B         C         D
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [14]:
# df2.A                  df2.bool
# df2.abs                df2.boxplot
# df2.add                df2.C
# df2.add_prefix         df2.clip
# df2.add_suffix         df2.columns
# df2.align              df2.copy
# df2.all                df2.count
# df2.any                df2.combine
# df2.append             df2.D
# df2.apply              df2.describe
# df2.applymap           df2.diff
# df2.B                  df2.duplicated

In [15]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.to_numpy()

array([[ 0.98546302,  2.36453528,  0.98630217, -1.88304348],
       [ 0.87300421,  0.13780801,  0.99076397, -1.02339405],
       [ 1.99993135,  1.60298867, -0.99734532, -0.60674049],
       [-0.73628391, -1.43671642,  1.81113852,  0.76778559],
       [ 0.49158781, -2.10340341,  0.75947851, -1.48008404],
       [ 0.4517705 , -0.27588406,  3.16496638,  0.46015133]])

In [18]:
df2.to_numpy() # 轉換成n維陣列

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [19]:
df.describe() #

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.677579  0.048221  1.119217 -0.627554
std    0.890639  1.716404  1.364350  1.057380
min   -0.736284 -2.103403 -0.997345 -1.883043
25%    0.461725 -1.146508  0.816184 -1.365912
50%    0.682296 -0.069038  0.988533 -0.815067
75%    0.957348  1.236694  1.606045  0.193428
max    1.999931  2.364535  3.164966  0.767786

In [20]:
df.T # 列-->欄，欄-->列

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.985463    0.873004    1.999931   -0.736284    0.491588    0.451771
B    2.364535    0.137808    1.602989   -1.436716   -2.103403   -0.275884
C    0.986302    0.990764   -0.997345    1.811139    0.759479    3.164966
D   -1.883043   -1.023394   -0.606740    0.767786   -1.480084    0.460151

In [21]:
df.sort_index(axis=1,ascending=False) # axis=1 欄軸 ，ascending=False 降序排列

                   D         C         B         A
2020-01-01 -1.883043  0.986302  2.364535  0.985463
2020-01-02 -1.023394  0.990764  0.137808  0.873004
2020-01-03 -0.606740 -0.997345  1.602989  1.999931
2020-01-04  0.767786  1.811139 -1.436716 -0.736284
2020-01-05 -1.480084  0.759479 -2.103403  0.491588
2020-01-06  0.460151  3.164966 -0.275884  0.451771

In [23]:
df.sort_index(axis=0,ascending=True) # axis=0 列軸(索引) ascending=True 升序排列

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-06  0.451771 -0.275884  3.164966  0.460151

In [24]:
df.sort_values(by='C') # 依據C來做升序排列

                   A         B         C         D
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-05  0.491588 -2.103403  0.759479 -1.480084
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-04 -0.736284 -1.436716  1.811139  0.767786
2020-01-06  0.451771 -0.275884  3.164966  0.460151

### **篩選資料**

In [25]:
df['B'] # 篩選B欄位的值

2020-01-01    2.364535
2020-01-02    0.137808
2020-01-03    1.602989
2020-01-04   -1.436716
2020-01-05   -2.103403
2020-01-06   -0.275884
Freq: D, Name: B, dtype: float64

In [26]:
df['B'][:3]

2020-01-01    2.364535
2020-01-02    0.137808
2020-01-03    1.602989
Freq: D, Name: B, dtype: float64

In [27]:
df['20200101':'20200104']

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394
2020-01-03  1.999931  1.602989 -0.997345 -0.606740
2020-01-04 -0.736284 -1.436716  1.811139  0.767786

In [30]:
df.loc[dates[1]]

A    0.873004
B    0.137808
C    0.990764
D   -1.023394
Name: 2020-01-02 00:00:00, dtype: float64

In [32]:
df.loc['20200105':,['C','B']] # 查詢特定索引與特定欄位值

                   C         B
2020-01-05  0.759479 -2.103403
2020-01-06  3.164966 -0.275884

In [33]:
df.loc[dates[1]:,['B','C']]

                   B         C
2020-01-02  0.137808  0.990764
2020-01-03  1.602989 -0.997345
2020-01-04 -1.436716  1.811139
2020-01-05 -2.103403  0.759479
2020-01-06 -0.275884  3.164966

In [36]:
df.at[dates[2],'D']

-0.6067404916153408

In [37]:
df.iloc[3] # 第四筆資料

A   -0.736284
B   -1.436716
C    1.811139
D    0.767786
Name: 2020-01-04 00:00:00, dtype: float64

In [39]:
df.iloc[0:2,:] # 冒號: 顯示全部資料

                   A         B         C         D
2020-01-01  0.985463  2.364535  0.986302 -1.883043
2020-01-02  0.873004  0.137808  0.990764 -1.023394

In [41]:
df.iloc[1,2] # 搜尋特定資料
df.iat[1,2]

0.9907639714754223